label{
    color: var(--text-color);
    font-size: 1.1rem;
}

.col{
    background-image: url(./luxa.org-opacity-changed-imc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}

.texto_calculadora{
    color: #126629;
    font-weight: 800;
    margin-right: 5px;
}

input{
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}
select{
    border: none;
    padding: 3px 10px;
    border-radius: 5px;
}

button{
    background-color: #126629;
    border-radius: 5px;
    font-size: 1.1rem;
}

button:hover{
    background-color: #409314;
    color: whitesmoke;
    border: 3px solid white;
}

form{
    margin-left: 3em;
}

h2{
    color: var(--text-color);
}

#tabla,caption{
    color: #121212;
}

#tabla {
    width: 100%;
    margin-top: 20px; /* Ajusta el margen superior según sea necesario */
    border-collapse: collapse; /* Combina bordes de celdas para una apariencia más limpia */
  }
  
  #tabla th, #tabla td {
    padding: 8px; /* Ajusta el relleno de las celdas según sea necesario */
    text-align: center; /* Centra el contenido de las celdas */
  }
  
  #tabla th {
    background-color: #f2f2f2; /* Cambia el color de fondo del encabezado si es necesario */
  }
