#carruselDiv{
    background-color: var(--company-color);
    text-align: center;
}

.carruselTextos{
    color: var(--carrusel-text);
    padding: 5%;
    margin-top: -40px;
    margin-bottom: -20px;
}

.texto{
    font-size: 1rem;
    text-align: center;
}

#testimonios{
    color: var(--text-color);
}

