#carruselDiv{
    background-color: var(--company-color);
    text-align: center;
}

.carruselTextos{
    color: var(--carrusel-text);
    padding: 5%;
}

.texto{
    font-size: 1rem;
    text-align: center;
}

#testimonios{
    color: var(--text-color);
}

