#carruselDiv{
    background-color: var(--company-color);
    text-align: center;
}

.carruselTextos{
    color: white;
    padding: 5%;
}

#texto{
    color: white;
}

#testimonios{
    color: var(--text-color);
}